html, body {
	height:100%;
}
body.dark{
	background-image: url('../images/stardust.png'), radial-gradient(circle at 87.99% 13%, #5E7EBD, transparent 67%), radial-gradient(circle at 15% 34.06%, #155d58, transparent 30%), radial-gradient(circle at 17.01% 21.07%, #000000, transparent 97%), radial-gradient(circle at 70.97% 34.06%, #055e68, transparent 40%), radial-gradient(circle at 50% 50%, #0C8050, #410a6d 100%), radial-gradient(circle at 50% 99%, #ffffff, transparent 100%);
	background-blend-mode: soft-light;
	background-size:cover;
	background-position:center;
	overflow:hidden;
	@media screen and (max-width: 480px) {
		background-image : url(../images/mobile-bg.jpg);
	}
}

* { box-sizing: border-box }

.hide{
	display:none;
}

.overlay{
	position:fixed;
	top:0;
	bottom:0;
	left:0;
	right:0;
	background-color:rgba(0,0,0,0.6);
	display:none;
}

.my-name{
	font-family: 'Open Sans', sans-serif;
    margin: 50px auto;
    text-align: center;
    font-weight: lighter; 
    color:#fff;	  
}

.my-pic{
	@media screen and (max-width: 480px) {
		width: 100px;
		height: 100px;
	}
	background-image: url('../images/mobile-bg.jpg'), url('../images/center.jpg');
	border-radius: 50%;
	width: 200px;
	height: 200px;
	top: 50%;
	left: 50%;
	transform: translate3d(-50%, -50%, 0);
	-webkit-transform: translate3d(-50%, -50%, 0);
	position: absolute;
	background-size: cover;
	background-position: center;
	opacity: 0.8;
	background-blend-mode: soft-light;
	box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
}

.about{
	font-size:13px;
	li{
		margin-bottom:10px;
	}
}

.code{
	color: white;
    position: absolute;
    bottom: 0;
    right: 0;
    font-family: 'Cutive Mono', ;
    width:30%;
    opacity:0.3;
    overflow: hidden;
}

//hero
.hero{
	@media screen and (max-width: 480px) {
		font-size:50px;
	}
	position:absolute;
	top:50%;
	left:50%;
	font-size:80px;
	transform:translate3d(-50%,-50%,0);
	color:white;
	text-align:center;
	.developer{
		transition: all 0.5s;
		font-family: 'Cutive Mono', ;
		position:relative;
		color:white;
		&:after{
			position 			: absolute;
			bottom 				: 10px;
			width 				: 60px;
			height 				: 5px;
			content 			: '';
			background-color 	: white;
			-webkit-animation-duration 			: 2s;
					animation-duration 			: 2s;
			-webkit-animation-fill-mode 		: both;
					animation-fill-mode 		: both;
			-webkit-animation-iteration-count 	: infinite;
					animation-iteration-count 	: infinite;
			-webkit-animation-name 				: dev-flash;
					animation-name 				: dev-flash;
		}
		@media screen and (max-width: 480px) {
			&:after{
				width:20px;
				height:3px;
			}
		}
	}
}

@-webkit-keyframes dev-flash {
  from, 100%, to {
    opacity: 0;
  }

  50% {
    opacity: 1;
  }
}

@keyframes dev-flash {
  from, 100%, to {
    opacity: 0;
  }

  50% {
    opacity: 1;
  }
}

.hero .creative {
	transition: all 0.5s;
	font-family: 'Cabin Sketch', cursive;
	font-weight: bolder;
	color: white;
	span.hide{
		display:inline-block;
		opacity:0;
	}
}

//nav
body.dark {
	.nav-wrapper {
		position : absolute;
		z-index : 999;
		&.selected{
			z-index : 998;
			.label {
				background-color: #fff;
				border:1px solid rgba(0,0,0,0.1);
    			border-radius: 50%;
    			width: 100px;
    			height: 100px;
    			line-height: 140px;
    			text-align: center;
    			img{width:50px;}
			}
		}
		&.left-top {
			top 	: 0;
			left 	: 0;
			.triangle {
				border-width 	: 100px 100px 0 0;
				border-color 	: #fff transparent transparent transparent;
			}
			.label {top:10px;left:10px;}
			.nav-content {top:110px;left:30px;}
			&.selected{
				.triangle{border-width 	: 600px 600px 0 0;}
				&:hover .triangle{border-width 	: 600px 600px 0 0;}
				.nav-content{display:block;}
			}
			&:hover {
				@media screen and (min-width: 480px) {
					.triangle {border-width : 150px 150px 0 0;}
				}
			}
		}
		&.right-top {
			right 	: 0;
			top 	: 0;
			.triangle {
				border-width 	: 0 100px 100px 0;
				border-color 	: transparent #fff transparent transparent;
			}
			.label { top:10px; right:10px; }
			.nav-content{ top:130px;right:30px;text-align:right;}
			&.selected{
				.triangle{border-width 	: 0px 600px 600px 0px;}
				&:hover .triangle { border-width 	: 0px 600px 600px 0px; }
				.nav-content{display:block;}
			}
			&:hover {
				@media screen and (min-width: 480px) {
					.triangle { border-width 	: 0px 150px 150px 0; }
				}
			}
		}
		&.left-bottom {
			left  	: 0;
			bottom 	: 0;
			.triangle {
				border-width: 100px 0 0 100px;
				border-color: transparent transparent transparent #fff;
			}	
			.label {bottom:10px;left:10px;}
			.nav-content {bottom:110px;left:30px;}
			&.selected{
				.triangle{border-width 	: 600px 0px 0 600px;}
				&:hover .triangle{border-width 	: 600px 0px 0 600px;}
				.nav-content{display:block;}
			}
			&:hover { 
				@media screen and (min-width: 480px) {
					.triangle{border-width 	: 150px 0px 0px 150px; }
				}
			}
		}
		&.right-bottom {
			right : 0;
			bottom : 0;
			.triangle {
				border-width: 0 0 100px 100px;
				border-color: transparent transparent #fff transparent;
			}
			.label {bottom:10px;right:10px;}
			.nav-content {bottom:130px;right:30px;text-align:right;	}
			&.selected{
				.triangle{border-width 	: 0px 0px 600px 600px;}
				&:hover .triangle{border-width 	: 0px 0px 600px 600px;}
				.nav-content{display:block;}
			}
			&:hover{
				@media screen and (min-width: 480px) {
					.triangle { border-width 	: 0px 0px 150px 150px; }
				}
			}
		}
		.nav-content {
			display:none;
			font-family:'Open Sans';
			position: absolute;
			h5{
				margin: 0;
    			font-weight: lighter;
    			color: #19A3C5;
    			font-size: 15;
			}
		}
		.close{
			width:200px;
			height:200px;
			background-color:#e9e9e9;
			position:absolute;
			transform:rotate(45deg);
			display:none;
		}
		.triangle {
			width 		 	: 0;
			height 		 	: 0;
			border-style 	: solid;
			transition 	 	: all 0.7s ease-out;	
			cursor:pointer;
			opacity:0.9;
		}
		.label { 
			position:absolute;
			transition: 0.7s all;
			display: flex;
    		align-items: center;
    		justify-content: center;
			img{
				width:35px;
				transition: 0.7s all;
			}
		}
	}
}

.nav-content{
	ul{
		list-style:none;
		font-weight: lighter;
		padding:0;
		li.hide{
			display:block;
			opacity:0;
		}
	}
	&.contact{
		top:0px !important;
		right:0px !important;
		ul{
			position:absolute;
			margin: 0;
			li{
				position:absolute;
				top:0;
				right:0;
				img{width:45px;cursor:pointer;}
			}
		}
	}
}

.skills{
	font-size:13px;
	li{margin-bottom:10px}
}

body.work{
	background-color:white;
	font-family: 'Open Sans', sans-serif;
	font-weight:lighter;
	overflow:auto;
	h1{
		color:white;
		font-family: 'Open Sans', sans-serif;
		font-weight:lighter;
		text-align:center;
	}
	section{
		width:100%;
		div.wrapper{
			margin:0 auto;
			padding:30px;
			margin-bottom:50px;
			max-width: 1000px;
			min-height: 500px;
			border-radius: 5px;
			display:flex;
			align-items: center;
			justify-content: center;
			&.nine-box{
				background: linear-gradient(#293a84,#5d86ca);
				color:white;
			}//nine-box
			&.ignitor{
				background: #8e9eab; /* fallback for old browsers */
				background: -webkit-linear-gradient(to left, #8e9eab , #eef2f3); /* Chrome 10-25, Safari 5.1-6 */
				background: linear-gradient(to left, #8e9eab , #eef2f3); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */  
				background: radial-gradient(circle at 87.99% 13%, #0c8062, transparent 67%), radial-gradient(circle at 15% 34.06%, #155d58, transparent 30%), radial-gradient(circle at 17.01% 21.07%, #000000, transparent 97%), radial-gradient(circle at 70.97% 34.06%, #4ddca7, transparent 40%), radial-gradient(circle at 50% 50%, #01c7ff, #410a6d 100%), radial-gradient(circle at 50% 99%, #ffffff, transparent 100%);
				color:white;
				.screens{flex : 2.5; video{transform:rotate(7deg)}}
				.description{padding:0 80px 0 0;}
			}
			&.wing-it{
				background: #7b4397; /* fallback for old browsers */
				background: -webkit-linear-gradient(to right top,#D02A67,#7b4397);
				background: linear-gradient(to right top,#D02A67,#7b4397);
				.screen{flex:2.5;}
			}
			&.iknow{
				background: #136a8a; /* fallback for old browsers */
				background: -webkit-linear-gradient(to left, #136a8a , #267871); /* Chrome 10-25, Safari 5.1-6 */
				background: linear-gradient(to left, #136a8a , #267871); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */    
			}
			.description{
				padding:0 0 0px 80px;
				flex : 1;
				float: right;
				width: 50%;
				color:white;
				h2{
					font-family: 'Open Sans', sans-serif;
					font-weight:lighter;
					text-transform:uppercase;
					border-bottom: 1px solid rgba(255,255,255,0.1);
					padding-bottom: 5px;
					margin-bottom: 5px;
				}
			}
			.screens{
				background-size: cover;
				flex : 1;
	    		width: 50%;
	    		video{
	    			width: 100%;
	    			border-radius:5px;
	    			transform: rotate(-10deg);
	    			box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
	    		}//video
			}//ipad
		}
	}//section
}//work


