html, body {
	height:100%;
}
body{
	overflow:hidden;
}

body .main{
	background:radial-gradient(circle at 87.99% 13%,#43084A,transparent 67%),radial-gradient(circle at 15% 34.06%,#4842B1,transparent 30%),radial-gradient(circle at 17.01% 21.07%,#19A3C5,transparent 97%),radial-gradient(circle at 70.97% 34.06%,#19A3C5,transparent 40%),radial-gradient(circle at 50% 50%,#19A3C5,#19A3C5 100%),radial-gradient(circle at 50% 99%,#fff,transparent 100%);
	background-size:cover;
	background-position:center;
	height:100%;
}

* { box-sizing: border-box }

.hide{
	display:none !important;
}

.overlay{
	position:fixed;
	top:0;
	bottom:0;
	left:0;
	right:0;
	background-color:rgba(0,0,0,0.6);
	display:none;
}

.my-name{
	font-family: 'Open Sans', sans-serif;
    margin: 50px auto;
    text-align: center;
    font-weight: lighter; 
    color:#fff;	  
}

.my-pic{
	@media screen and (max-width: 480px) {
		width: 100px;
		height: 100px;
	}
	background-image: url('../images/mobile-bg.jpg'), url('../images/pic1.jpeg');
	border-radius: 50%;
	width: 200px;
	height: 200px;
	top: 50%;
	left: 50%;
	transform: translate3d(-50%, -50%, 0);
	-webkit-transform: translate3d(-50%, -50%, 0);
	position: absolute;
	background-size: cover;
	background-position: center;
	opacity: 0.8;
	background-blend-mode: soft-light;
	box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
}

.about{
	font-size:13px;
	li{
		margin-bottom:10px;
	}
}

.code{
	color: white;
    position: fixed;
    bottom: 0;
    right: 0;
    font-family: 'Cutive Mono', ;
    width:30%;
    opacity:0.3;
    overflow: hidden;
}

//hero
.hero{
	@media screen and (max-width: 480px) {
		font-size:50px;
	}
	position:absolute;
	top:50%;
	left:50%;
	font-size:80px;
	transform:translate3d(-50%,-50%,0);
	color:white;
	text-align:center;
	.developer{
		transition: all 0.5s;
		font-family: 'Cutive Mono', ;
		position:relative;
		color:white;
		&:after{
			position 			: absolute;
			bottom 				: 10px;
			width 				: 60px;
			height 				: 5px;
			content 			: '';
			background-color 	: white;
			-webkit-animation-duration 			: 2s;
					animation-duration 			: 2s;
			-webkit-animation-fill-mode 		: both;
					animation-fill-mode 		: both;
			-webkit-animation-iteration-count 	: infinite;
					animation-iteration-count 	: infinite;
			-webkit-animation-name 				: dev-flash;
					animation-name 				: dev-flash;
		}
		@media screen and (max-width: 480px) {
			&:after{
				width:20px;
				height:3px;
			}
		}
	}
}

@-webkit-keyframes dev-flash {
  from, 100%, to {
    opacity: 0;
  }

  50% {
    opacity: 1;
  }
}

@keyframes dev-flash {
  from, 100%, to {
    opacity: 0;
  }

  50% {
    opacity: 1;
  }
}

.hero .creative {
	transition: all 0.5s;
	font-family: 'Cabin Sketch', cursive;
	font-weight: bolder;
	color: white;
	span.hide{
		display:inline-block;
		opacity:0;
	}
}

//nav
.nav-wrapper {
	position : fixed;
	z-index : 999;
	&.selected{
		z-index : 998;
		.label {
			background-color: #fff;
			border:1px solid rgba(0,0,0,0.1);
			border-radius: 50%;
			width: 100px;
			height: 100px;
			line-height: 140px;
			text-align: center;
			img{width:50px;}
		}
	}
	&.left-top {
		top 	: 0;
		left 	: 0;
		.triangle {
			border-width 	: 100px 100px 0 0;
			border-color 	: #fff transparent transparent transparent;
			&.darker{
				border-color: rgba(0,0,0,0.3) transparent transparent transparent;
			}
		}
		.label {top:10px;left:10px;}
		.nav-content {top:110px;left:30px;}
		&.selected{
			.triangle{border-width 	: 600px 600px 0 0;}
			&:hover .triangle{border-width 	: 600px 600px 0 0;}
			.nav-content{display:block;}
		}
		&:hover {
			@media screen and (min-width: 480px) {
				.triangle {border-width : 150px 150px 0 0;}
			}
		}
	}
	&.right-top {
		right 	: 0;
		top 	: 0;
		.triangle {
			border-width 	: 0 100px 100px 0;
			border-color 	: transparent #fff transparent transparent;
			&.darker{
				border-color: transparent rgba(0,0,0,0.3) transparent transparent;
			}
		}
		.label { top:10px; right:10px; }
		.nav-content{ top:130px;right:30px;text-align:right;}
		&.selected{
			.triangle{border-width 	: 0px 600px 600px 0px;}
			&:hover .triangle { border-width 	: 0px 600px 600px 0px; }
			.nav-content{display:block;}
		}
		&:hover {
			@media screen and (min-width: 480px) {
				.triangle { border-width 	: 0px 150px 150px 0; }
			}
		}
	}
	&.left-bottom {
		left  	: 0;
		bottom 	: 0;
		.triangle {
			border-width: 100px 0 0 100px;
			border-color: transparent transparent transparent #fff;
			&.darker{
				border-color: transparent transparent transparent rgba(0,0,0,0.3);
			}
		}	
		.label {bottom:10px;left:10px;}
		.nav-content {bottom:110px;left:30px;}
		&.selected{
			.triangle{border-width 	: 600px 0px 0 600px;}
			&:hover .triangle{border-width 	: 600px 0px 0 600px;}
			.nav-content{display:block;}
		}
		&:hover { 
			@media screen and (min-width: 480px) {
				.triangle{border-width 	: 150px 0px 0px 150px; }
			}
		}
	}
	&.right-bottom {
		right : 0;
		bottom : 0;
		.triangle {
			border-width: 0 0 100px 100px;
			border-color: transparent transparent #fff transparent;
			&.darker{
				border-color: transparent transparent rgba(0,0,0,0.3) transparent;
			}
		}
		.label {bottom:10px;right:10px;}
		.nav-content {bottom:130px;right:30px;text-align:right;	}
		&.selected{
			.triangle{border-width 	: 0px 0px 600px 600px;}
			&:hover .triangle{border-width 	: 0px 0px 600px 600px;}
			.nav-content{display:block;}
		}
		&:hover{
			@media screen and (min-width: 480px) {
				.triangle { border-width 	: 0px 0px 150px 150px; }
			}
		}
	}
	.nav-content {
		display:none;
		font-family:'Open Sans';
		position: absolute;
		h5{
			margin: 0;
			font-weight: lighter;
			color: #19A3C5;
			font-size: 15;
		}
	}
	.close{
		width:200px;
		height:200px;
		background-color:#e9e9e9;
		position:absolute;
		transform:rotate(45deg);
		display:none;
	}
	.triangle {
		width 		 	: 0;
		height 		 	: 0;
		border-style 	: solid;
		transition 	 	: all 0.7s ease-out;	
		cursor:pointer;
		opacity:0.9;
	}
	.label { 
		position:absolute;
		transition: 0.7s all;
		display: flex;
		align-items: center;
		justify-content: center;
		img{
			width:35px;
			transition: 0.7s all;
		}
	}
}

.arrow-down{
	position:absolute;
	left:50%; transform:translateX(-50%);
	bottom:20px;
	width:70px;
}


.nav-content{
	ul{
		list-style:none;
		font-weight: lighter;
		padding:0;
		li.hide{
			display:block;
			opacity:0;
		}
	}
	&.contact{
		top:0px !important;
		right:0px !important;
		ul{
			position:absolute;
			margin: 0;
			li{
				position:absolute;
				top:0;
				right:0;
				img{width:45px;cursor:pointer;}
			}
		}
	}
	&.projects{
		bottom:0px !important;
		right:0px !important;
		ul{
			position:absolute;
			margin: 0;
			li{
				position:absolute;
				bottom:0;
				right:0;
				img{width:45px;cursor:pointer;}
			}
		}
	}
}

.skills{
	font-size:13px;
	li{margin-bottom:10px}
}

.work{
	background-color:white;
	font-family: 'Open Sans', sans-serif;
	font-weight:lighter;
	overflow:auto;
	h1{
		color: #464646;
		font-family: 'Open Sans', sans-serif;
		font-weight:lighter;
		text-align:center;
	}
	section{
		width:100%;
		div.wrapper{
			padding:30px;
			margin: 50px auto 25px auto;
			max-width: 1000px;
			min-height: 500px;
			border-radius: 5px;
			display:flex;
			align-items: center;
			justify-content: center;
			color:white;
			@media screen and (max-width: 700px) {
				display:block;
				background:white !important;
				color:#464646 !important;
				border-bottom:1px solid rgba(0,0,0,0.1);
				border-radius:0;
				margin:0 !important;
				div:first-child{
					margin-bottom:20px;
				}
			}
			@media screen and (min-width: 700px) {
				&.reverse-order{
					flex-direction:row-reverse;
					.description {
						padding:0 0 0px 80px;
					}
				}
			}
			.description{
				padding:0 80px 0px 0px;
				flex : 1;
				h2{
					font-family: 'Open Sans', sans-serif;
					font-weight:lighter;
					text-transform:uppercase;
					border-bottom: 1px solid rgba(255,255,255,0.1);
					padding-bottom: 5px;
					margin-bottom: 5px;
				}
				@media screen and (max-width: 700px) {
					width:100%;
					padding:0 !important;
				}
				.technologies {
					opacity : 0.7;
					font-size:12px;
					margin-top:15px;
				}
			}
			.screens{
				background-size: cover;
				flex : 1;
	    		position:relative;
	    		@media screen and (max-width: 700px) {
	    			width:100%;
	    		}
	    		video, img{
	    			width: 100%;
	    			border-radius:5px;
	    			transform: rotate(-5deg);
	    			box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
	    			@media screen and (max-width: 700px) {
	    				transform:rotate(0deg) !important;
	    			}
	    		}//video
			}//ipad
			&.nine-box{
				background: #136a8a; /* fallback for old browsers */
				background: -webkit-linear-gradient(to right, #136a8a , #267871); /* Chrome 10-25, Safari 5.1-6 */
				background: linear-gradient(to right, #136a8a , #267871); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */    
				video{transform: rotate(5deg);}
			}//nine-box
			&.ignitor{
				background: #8e9eab; /* fallback for old browsers */
				background: -webkit-linear-gradient(to left, #8e9eab , #eef2f3); /* Chrome 10-25, Safari 5.1-6 */
				background: linear-gradient(to left, #8e9eab , #eef2f3); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */  
				background: radial-gradient(circle at 87.99% 13%, #0c8062, transparent 67%), radial-gradient(circle at 15% 34.06%, #155d58, transparent 30%), radial-gradient(circle at 17.01% 21.07%, #000000, transparent 97%), radial-gradient(circle at 70.97% 34.06%, #4ddca7, transparent 40%), radial-gradient(circle at 50% 50%, #01c7ff, #410a6d 100%), radial-gradient(circle at 50% 99%, #ffffff, transparent 100%);
				.screens{flex : 2.5; video{transform:rotate(7deg)}}
				.description{padding:0 80px 0 0;}
			}
			&.wing-it{
				background: radial-gradient(circle at 87.99% 13%, #b9d2d2, transparent 67%), radial-gradient(circle at 15% 34.06%, #155d58, transparent 30%), radial-gradient(circle at 17.01% 21.07%, #000000, transparent 97%), radial-gradient(circle at 70.97% 34.06%, #055e68, transparent 40%), radial-gradient(circle at 50% 50%, #01c7ff, #410a6d 100%), radial-gradient(circle at 50% 99%, #ffffff, transparent 100%);
				.screens{flex:2.5;}
			}
			&.iknow{
				position:relative;
				background: linear-gradient(#293a84,#5d86ca);
				.screens{
					position:relative;
					img.website{
						width:100%;border-radius:5px;
						box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
					}
					img.screenshot1{    
						position: absolute;
					    width: 100px;
					    bottom: -30px;
					    right: -13px;
					}
					img.screenshot2{
					    position: absolute;
					    width: 100px;
					    right: 40px;
					    bottom: -30px;
					}
				}
			}
			&.room{
				background: #485563; /* fallback for old browsers */
				background: -webkit-linear-gradient(to left, #485563 , #29323c); /* Chrome 10-25, Safari 5.1-6 */
				background: linear-gradient(to left, #485563 , #29323c); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
				.description{padding:0 80px 0 0;}
				.screens{flex:3;video{transform:rotate(-5deg)}}
			}
			&.workflow{
				background: #73C8A9; /* fallback for old browsers */
				background: -webkit-linear-gradient(to left, #73C8A9 , #373B44); /* Chrome 10-25, Safari 5.1-6 */
				background: linear-gradient(to left, #73C8A9 , #373B44); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */    
			}
			&.fun{
				background: #7b4397; /* fallback for old browsers */
				background: -webkit-linear-gradient(to right top,#D02A67,#7b4397);
				background: linear-gradient(to right top,#D02A67,#7b4397);
				video.barchart{position: absolute;top: 40px;width: 40%;}
				video.blackjack{transform: rotate(10deg);}
				video.accordion{transform: rotate(0deg);width: 50%;}
			}
		}
	}//section
}//work

.beach{
	height:100%;
	background-color:#e9e9e9;
	position:relative;
	div{position:absolute;}
	.sand{
		bottom:0;left:0;right:0;
		height:27%;
		background: linear-gradient(to bottom, #E0C88C, white);
	}
	.sky{
		top:0;left:0;right:0;
		overflow:hidden;
		height: 60%;
		background: #136a8a; /* fallback for old browsers */
		background: -webkit-linear-gradient(to bottom,#19a3c5, #B8EEF1, #eef2f3);
		background:linear-gradient(to bottom,#19a3c5, #B8EEF1, #eef2f3);
		.cloud{
			background-color:white;
			border-radius: 50%;
			background: linear-gradient(to top,#e9e9e9,#F0F0F1,#FFFFFF);
			&:before{
				content:'';
				background-color:white;
				width:40px;
				height:30px;
				border-radius:50%;
				width: 61px;
				height: 34px;
				border-radius: 50%;
				top: -16px;
				left: -10px;
				position: absolute;
				background: linear-gradient(to top,#e9e9e9,#F0F0F1,#FFFFFF);
			}
			&:after{
				content:'';
				background-color:white;
				width: 61px;
				height: 34px;
				border-radius: 50%;
				bottom: -16px;
				right: 20px;
				position: absolute;
				background: linear-gradient(to top,#e9e9e9,#F0F0F1,#FFFFFF);
			}
			&.cloud1{
				width:200px;
				height:50px;
				top:80px;
				left: 30px;
				border-radius: ~"20% 50% 30% 20% / 50%";
				&:before{
					top: -10px;
					left: -10px;
					border-radius: ~"50% 60% 30% 80% / 60% 50% 70% 80%";
				}
			}
			&.cloud2{
				width: 240px;
				height: 30px;
				top: 55px;
				left: 41%;
				border-radius: ~"40% 50% 80% 70% / 70% 80% 60% 50%";
				&:before{
					top: -17px;
					left: -47px;
					border-radius: ~"50% 60% 10% 80% / 60% 80% 70% 80%";
					width: 120px;
				}
				&:after{
					width: 100px;
				}
			}
			&.cloud3{
				width:130px;
				height:50px;
				top:100px;
				right:-10px;
				&:after{
					bottom: -25px;
					right: -31px;
					width: 100px;
				}
				&:before{
					bottom: -17px;
					left: -47px;
					border-radius: ~"50% 60% 10% 80% / 60% 80% 70% 80%";
					width: 120px;
				}
			}
		}
		//bird
		.bird{
			background:black;
			border-radius: 50% 50% 20% 20%;
			color:white;
			line-height:20px;
			letter-spacing: 2px;
			font-size:0.8em;
			text-align:center;
			position:absolute;
			top:50%; left:28%;
			margin-top:-20px; margin-left:-10px;
			width:15px; height:15px;
			animation:planeo 3s linear infinite;
			z-index:999;
			&:after, &:before{
				content:"";
				position:absolute;
				top:50%; left:50%;
			}
			//bird wings
			&:after{
				border-radius: 100% 100% 0 0;
				box-shadow: inset 0px 5px 0 black;
				width:100px; height:100px;
				margin-top:-7px; margin-left:-50px;
				transform-origin: 100% 0%;
				animation:alas 8s linear infinite;
			}
			//bird beak
			&:before{
				background:#FFC37F;
				border-radius: 100% 0% 20% 0%;
				margin-top:3px; margin-left:-4px;
				width:6px; height:6px;
				transform:rotateZ(45deg);
			}
		}
		//wings animation
		@keyframes alas {
			50%{
				transform:rotateX(-1440deg);
			}
		}

		//bird animation
		@keyframes planeo {
		  	40%{
			    transform:rotateZ(2deg) translateX(2px) translateY(10px) translateZ(0);
			    line-height:16px;
			    font-size:0.6em;
		  	}
		  	80%{
		    	transform:rotateZ(-2deg) translateX(5px) translateY(8px) translateZ(0);
		  	}
		}
		.sun{
			width:150px;
			height:150px;
			transform:translateX(-50%)translateY(30%);
			left:50%;
			bottom:0;
			.main-circle{
				border-radius:50%;
				background:linear-gradient(to bottom,#F9643F, orange, yellow);
				z-index:9;
				width: 100%;
				height: 100%;
			}
			.project{
				z-index:8;
				width:60px;
				height:60px;
				background-color:orange;
				border-radius:0px;
				position:absolute;
				transform:rotate(90deg);
				//border-radius:50%;
			}
		}
	}
	.ocean{
		height: 13%;
		width: 100%;
		bottom: 27%;
		background: linear-gradient(to bottom,#CBE9EC,#19a3c5,#3D7CA9);
	}
}

.hidden{
    opacity:0 !important;
}
.full-visible, .visible{
    opacity:1 !important;
}


