.overlay{
	position:fixed;
	top:0;
	bottom:0;
	left:0;
	right:0;
	background-color:rgba(0,0,0,0.6);
	display:none;
}

body[data-item*="page"] {
	.overlay{
		display:block;
		cursor:pointer;
		z-index: 99;
	}
}

.my-name{
	font-family: 'Open Sans', sans-serif;
    margin: 50px auto;
    text-align: center;
    font-weight: lighter; 
    color:#fff;	  
}

.my-pic{
	background-image: url('splash41.jpg'), url('IMG_6537.JPG');
	border-radius: 50%;
	width: 200px;
	height: 200px;
	top: 50%;
	left: 50%;
	transform: translate3d(-50%, -50%, 0);
	position: absolute;
	background-size: cover;
	background-position: center;
	opacity: 0.8;
	background-blend-mode: color;
	box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
}

