body.dark {
	//&[data-item="page-left-bottom"]{
		.nav-wrapper.left-bottom {
			.label {
				background-color: #e9e9e9;
				border:1px solid rgba(0,0,0,0.1);
    			border-radius: 50%;
    			width: 100px;
    			height: 100px;
    			line-height: 140px;
    			text-align: center;
    			left: 20px; bottom: 20px;
    			img{width:50px}
			}
			.triangle{
				border-width 	: 600px 0px 0 600px;
			}
			&:hover .triangle{border-width 	: 600px 0px 0 600px;}
			.nav-content{
				display:block;
				bottom:130px;
				left:30px;
			}
		}
	//}
	//&[data-item="page-right-bottom"]{
		.nav-wrapper.right-bottom {
			.label {
				background-color: #e9e9e9;
				border:1px solid rgba(0,0,0,0.1);
    			border-radius: 50%;
    			width: 100px;
    			height: 100px;
    			line-height: 140px;
    			text-align: center;
    			right:20px;
    			bottom:20px;
    			img{width:50px;}
			}
			.triangle{
				border-width 	: 0px 0px 600px 600px;
			}
			&:hover .triangle{border-width 	: 0px 0px 600px 600px;}
			.nav-content{
				display:block;
				//div.work{
					bottom:130px;
					right:30px;
					text-align:right;	
				//}
			}
		}
	//}
	//&[data-item="page-right-top"]{
		.nav-wrapper.right-top {
			.label {
				background-color: #e9e9e9;
				border:1px solid rgba(0,0,0,0.1);
    			border-radius: 50%;
    			width: 100px;
    			height: 100px;
    			line-height: 140px;
    			text-align: center;
    			right:20px;
    			top:20px;
    			img{width:50px;}
			}
			.triangle{
				border-width 	: 0px 600px 600px 0px;
			}
			&:hover .triangle { border-width 	: 0px 600px 600px 0px; }
			.nav-content{
				display:block;
				top:130px;
				right:30px;
				text-align:right;
			}
		}
	//}
	
	.nav-wrapper {
		position : absolute;
		z-index : 999;
		&:hover{
			@media screen and (min-width: 480px) {
				.label img{width:50px}
			}
		}
		&.left-top {
			top 	: 0;
			left 	: 0;
			.triangle {
				border-width 	: 100px 100px 0 0;
				border-color 	: #fff transparent transparent transparent;
			}
			.label {top:10px;left:10px;}
			&.selected{
				label {
					background-color: #e9e9e9;
					border:1px solid rgba(0,0,0,0.1);
	    			border-radius: 50%;
	    			transform:translate3d(20px, 20px, 1);
	    			width: 100px;
	    			height: 100px;
	    			line-height: 140px;
	    			text-align: center;
	    			img{width:50px}
				}
				.triangle{border-width 	: 600px 600px 0 0;}
				&:hover .triangle{border-width 	: 600px 600px 0 0;}
				.nav-content{
					display:block;
					top: 130px;
	    			left: 30px;
				}
			}
			&:hover {
				@media screen and (min-width: 480px) {
					.triangle {border-width : 150px 150px 0 0;}
					.label {top : 20px; left:20px;}
				}
			}
		}
		&.right-top {
			right 	: 0;
			top 	: 0;
			.triangle {
				border-width 	: 0 100px 100px 0;
				border-color 	: transparent #fff transparent transparent;
			}
			.label { top:10px; right:10px; }
			&:hover {
				@media screen and (min-width: 480px) {
					.triangle { border-width 	: 0px 150px 150px 0; }
					.label {top:20px;right:20px;}
				}
			}
		}
		&.left-bottom {
			left  	: 0;
			bottom 	: 0;
			.triangle {
				border-width: 100px 0 0 100px;
				border-color: transparent transparent transparent #fff;
			}	
			.label {bottom:10px;left:10px;}
			&:hover { 
				@media screen and (min-width: 480px) {
					.triangle{border-width 	: 150px 0px 0px 150px; }
					.label {bottom:20px;left:20px;}
				}
			}
		}
		&.right-bottom {
			right : 0;
			bottom : 0;
			.triangle {
				border-width: 0 0 100px 100px;
				border-color: transparent transparent #fff transparent;
			}
			.label {bottom:10px;right:10px;}
			&:hover{
				@media screen and (min-width: 480px) {
					.triangle { border-width 	: 0px 0px 150px 150px; }
					.label {bottom:20px;right:20px;}
				}
			}
		}
		.nav-content {
			display:none;
			font-family:'Open Sans';
			position: absolute;
		}
		.close{
			width:200px;
			height:200px;
			background-color:#e9e9e9;
			position:absolute;
			transform:rotate(45deg);
			display:none;
		}
		.triangle {
			width 		 	: 0;
			height 		 	: 0;
			border-style 	: solid;
			transition 	 	: all 0.5s;	
			cursor:pointer;
			opacity:0.8;
		}
		.label { 
			position:absolute;
			transition:all 0.7s;
			img{
				width:35px;
				transition:all 0.7s;
			}
		}
	}
}

.nav-content{
	ul{
		list-style:none;
		font-weight: lighter;
		padding:0;
		li.hide{
			display:block;
			opacity:0;
		}
	}
}

body.light {
	.left-top {
		position : absolute;
		top: 0;
		left: 0;
		width: 300px;
		height: 250px;
		background-image: url('/splash.jpg');
		background-size: cover;
		background-color: #BD5E5E;
		background-blend-mode: luminosity;
		background-position: center;
	}
	.right-top {
		position: absolute;
		top: 0;
		right: 0;
		width: 300px;
		height: 250px;
		background-image: url('/splash.jpg');
		background-size: cover;
		background-color: #56589C;
		background-blend-mode: luminosity;
		background-position: center;
	}
	.right-bottom {
		position: absolute;
		bottom: 0;
		right: 0;
		width: 300px;
		height: 250px;
		background-image: url('/splash.jpg');
		background-size: cover;
		background-color: #ffd268;
		background-blend-mode: luminosity;
		background-position: center;
	}
	.left-bottom {
		position: absolute;
		bottom: 0;
		left: 0;
		width: 300px;
		height: 250px;
		background-image: url('/splash.jpg');
		background-size: cover;
		background-color: #5E9C7A;
		background-blend-mode: luminosity;
		background-position: center;
	}
}