html, body {
	height:100%;
}
body.dark{
	background-image  : url(splash41.jpg), radial-gradient(transparent, rgba(0,0,0,1));
	background-blend-mode: multiply;
	background-size:cover;
	background-position:center;
	overflow:hidden;
}

body.light{
	background-color:white;
	.my-name {
		color:#333;	
	}
}

* { box-sizing: border-box }