html, body {
	height:100%;
}
body.dark{
      background-image: url('/stardust.png'), radial-gradient(circle at 87.99% 13%, #5E7EBD, transparent 67%), radial-gradient(circle at 15% 34.06%, #155d58, transparent 30%), radial-gradient(circle at 17.01% 21.07%, #000000, transparent 97%), radial-gradient(circle at 70.97% 34.06%, #055e68, transparent 40%), radial-gradient(circle at 50% 50%, #0C8050, #410a6d 100%), radial-gradient(circle at 50% 99%, #ffffff, transparent 100%);
      background-image: url('/stardust.png'), 
       -webkit-radial-gradient(circle at 87.99% 13%, #5E7EBD, transparent 67%), 
       -webkit-radial-gradient(circle at 15% 34.06%, #155d58, transparent 30%), 
       -webkit-radial-gradient(circle at 17.01% 21.07%, #000000, transparent 97%), 
       -webkit-radial-gradient(circle at 70.97% 34.06%, #055e68, transparent 40%), 
       -webkit-radial-gradient(circle at 50% 50%, #0C8050, #410a6d 100%), 
       -webkit-radial-gradient(circle at 50% 99%, #ffffff, transparent 100%);
	background-blend-mode: soft-light;
	background-size:cover;
	background-position:center;
	overflow:hidden;
	@media screen and (max-width: 480px) {
		background-image : url(bg1.png);
	}
}

* { box-sizing: border-box }

.hide{
	display:none;
}