.hero{
	position:absolute;
	top:50%;
	left:50%;
	font-size:80px;
	transform:translate3d(-50%,-50%,0);
	color:white;
	text-align:center;
	.developer{
		transition: all 0.5s;
		font-family: 'Cutive Mono', ;
		position:relative;
		color:white;
		&:after{
			position 			: absolute;
			bottom 				: 10px;
			width 				: 60px;
			height 				: 5px;
			content 			: '';
			background-color 	: white;
			-webkit-animation-duration 			: 2s;
					animation-duration 			: 2s;
			-webkit-animation-fill-mode 		: both;
					animation-fill-mode 		: both;
			-webkit-animation-iteration-count 	: infinite;
					animation-iteration-count 	: infinite;
			-webkit-animation-name 				: dev-flash;
					animation-name 				: dev-flash;
		}
	}
}

.light .hero .developer {
	color:#565656;	
}
.light .hero .developer:after {
	background-color : #565656;
}

@-webkit-keyframes dev-flash {
  from, 100%, to {
    opacity: 0;
  }

  50% {
    opacity: 1;
  }
}

@keyframes dev-flash {
  from, 100%, to {
    opacity: 0;
  }

  50% {
    opacity: 1;
  }
}

.light .hero .creative {
	color: white;  
	background: url(splash1-text.jpg) no-repeat;
	   -webkit-background-clip: text;
	   -webkit-text-fill-color: transparent;
}

.hero .creative {
	transition: all 0.5s;
	font-family: 'Cabin Sketch', cursive;
	font-weight: bolder;
	color: white;
	span.hide{
		display:inline-block;
		opacity:0;
	}
	// span{
	// 	display:inline-block;
	// 	transition:all 0.5s ease-out;
	// 	&:nth-child(1){transform:translate3d(-200px, -100px, 0) rotate(30deg)}
	// 	&:nth-child(2){transform:translate3d(-150px, -100px, 0) rotate(-40deg)}
	// 	&:nth-child(3){transform:translate3d(-10px, -70px, 0) rotate(20deg)}
	// 	&:nth-child(4){transform:translate3d(15px, -50px, 0) rotate(-50deg)}
	// 	&:nth-child(5){transform:translate3d(140px, -100px, 0) rotate(30deg)}
	// 	&:nth-child(6){transform:translate3d(165px, -85px, 0) rotate(2deg)}
	// 	&:nth-child(7){transform:translate3d(200px, -100px, 0) rotate(8deg)}
	// 	&:nth-child(8){transform:translate3d(220px, -90px, 0) rotate(20deg)}

	// }
}